<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ticket-mitfahrer.de | zusammen fahren – zusammen sparen</title>
		<meta name="description" content="Mit anderen auf einem Gruppenticket ist die Reise oft billiger. Hier gibt's die Infos und Plattformen dazu.">

		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
				j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-K2D5LZW');</script>
		<!-- End Google Tag Manager -->		
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<section class="hero is-primary is-bold">
			<div class="hero-body">
				<div class="container">
					<h1 class="title is-4"><a href="/">ticket-mitfahrer.de</a></h1> 
					<div class="subtitle">zusammen fahren – zusammen sparen
				</div>
			</div>
		</section>
		<section class="section">

			<%- body %>

		</section>

		<footer class="footer">
			<div class="content has-text-right">
				<a href="/datenschutz">Datenschutz</a>
				|
				<a href="/impressum">Impressum</a>
				|
				<a href="https://jaehnig.org">Webmaster</a>
				|
				<a href="https://github.com/georgjaehnig/ticket-mitfahrer.de">Github</a>
			</div>
		</footer>

		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K2D5LZW"
											height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

	</body>
</html>
