<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ticket-mitfahrer.de | Plattformen fürs gemeinsame Verreisen</title>
		<meta name="description" content="Zusammen fahren, zusammen sparen: Mit anderen auf einem Gruppenticket ist die Reise oft billiger. Hier gibt's die Plattformen dazu.">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<section class="hero is-primary is-bold">
			<div class="hero-body">
				<div class="container">
					<h1 class="title is-4">ticket-mitfahrer</h1> listet Plattformen fürs gemeinsame Verreisen.
				</div>
			</div>
		</section>
		<section class="section">
			<div class="columns">
				<div class="column">
					<div class="card has-equal-height">
						<div class="card-content">
							<h2 class="title is-3">DB Mitfahrer-App</h2> 
							<div class="content">
								<p>
								Die DB Mitfahrer-App gibt's für Android oder iPhone. Sie ist aktuell erhältlich für das Baden-Württemberg-Ticket,
Bayern-Ticket, Brandenburg-Berlin-Ticket, Mecklenburg-Vorpommern-Ticket, Niedersachsen-Ticket, Rheinland-Pfalz-/Saarland-Ticket und das Schleswig-Holstein-Ticket.
								</p>
								<p>
								Laut DB-Angaben hat die App 70.000 Nutzer.
								</p>
							</div>
							<footer class="card-footer">
								<div class="card-footer-item">
									<a class="button is-success is-large" href="/go/db-mitfahrer-app">Zur DB-Mitfahrer-App</a>
								</div>
							</footer>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="card has-equal-height">
						<div class="card-content">
							<h2 class="title is-3">BesserMitfahren</h2> 
							<div class="content">
								<p>Mit jährlich ca. 1,1 Mio Nutzern und mehr als 1,5 Mio Mitfahrgelegenheiten ist BesserMitfahren eine der größten kostenfreien Mitfahrzentralen in Deutschland.</p>
								<p>Angeboten werden sowohl Mitfahrten im Auto als auch per Bahn.</p>
							</div>

							<footer class="card-footer">
								<div class="card-footer-item">
									<a class="button is-success is-large" href="/go/besser-mitfahren">Zu BesserMitfahren</a>
								</div>
							</footer>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-958648-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-958648-1');
		</script>

		<footer class="footer level">
			
			
			<div class="level-left">
				sdfdsf
			</div>
			<div class="level-right">
			  <div class="level-item">
					Impressum
			  </div>

			</div>
		</footer>
	</body>
</html>
