<% if (page.title) { %>

<div class="container">
  <div class="content">
    <h2 class="title is-3"><%- page.title %></h2>

    <%- page.content %>
  </div>
</div>

<% } else { %> <%- page.content %> <% } %>
